<html>
<head>
    <link href="socialmedia.css" rel="stylesheet"/>

    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/ionsound/js/ion.sound.min.js"></script>
    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/libgif-js/libgif.js"></script>
    <script src="socialmedia.js"></script>
</head>
<body>
<div id="container">

    <div class="clock">
        <div id="Date"></div>
        <ul>
            <li id="hours"></li>
            <li id="point">:</li>
            <li id="min"></li>
            <li id="point">:</li>
            <li id="sec"></li>
        </ul>
    </div>

    <div id="objection">
        <img id="objectionpic" src="/view/charleonstreamlayout/img/objection.gif" alt="Something Wrong" rel:auto_play="1"></img>
    </div>

    <div id="shoryuken">
        <img id="shoryukenpic" src="/view/charleonstreamlayout/img/shoryuken.gif" alt="Something Wrong" rel:auto_play="1"></img>
    </div>

    <div id="headbutt">
        <img id="headbuttpic" src="/view/charleonstreamlayout/img/headbutt.gif" alt="Something Wrong" rel:auto_play="1"></img>
    </div>

    <div id="bowser">
        <img id="bowserpic" height="32" width="32" src="/view/charleonstreamlayout/img/bowser.gif" alt="Something Wrong"></img>
    </div>


    <div id="crackedwindow">
    </div>

    <div id="links">
        <div id="linktitle">Find me at:</div>
        <div id="linktext">
            <div id="youtube"></div>
            Charleon

            <div id="twitter"></div>
            @CharleonChan

            <div id="twitch"></div>
            SethCharleon
        </div>
    </div>
</div>
</body>
</html>
